body{
margin: 0;
}


div.footer{
  height: 60px;
  width: 100%;
  background-color:#33BBF5;
  opacity: 0.5;
  bottom: 0px;
  position: absolute;
	text-align: center;
}

div.header{
height: 50px;
width: 100%;
background-color:# ;
}

div.a{
  height: 80px;
  width: 100%;
  background-color:#3067E2;
  opacity: 0.5;
}
div.c{
  text-align: center;
}
div.b{
  height: 50px;
  width: 97%;
  background-color:#3067E2;
  color: white;
  margin: auto;
  margin-top: -27px;

}

div.l{
  opacity: 0.7;
  height: 100px;
  width: 100%;
  background-color:#FFFDFD ;
  color: #3067E2;
  margin-top: -48px;
  vertical-align: middle;

}
div.text{
  height: 120px;
  width: 97%;
  background-color:#FFFDFD ;
  color: #3067E2;
  margin-top: ;
  margin: auto;
  text-align: center;
  vertical-align: middle;
}
div.button{
  margin-top: -25px;
  text-align: center;

}
button{
  background-color:#33BBF5;
  width: 180px;
  height: 40px;
  display: inline-block;
  border: none;
  z-index: 1;






}
h1{
    font-size: 300%;
}
h2{
  font-size: 200%
}
